body {
  background-color: #ff7043;
}
.head-1 {
  margin: 5px 0;
  font-family: "Srisakdi", cursive;
}
.contents {
  border: 5px solid #333333;
  border-radius: 10px;
  margin: 10px 0;
  max-height: 90vh;
  padding: 10px;
}
.lists {
  height: 150px;
  overflow-y: scroll;
  font-family: "Arimo", sans-serif;
}
.lists .list-group-item {
  border: 0;
  cursor: pointer;
  background: transparent;
}
.lists .list-group-item:hover {
  opacity: 0.7;
}

.recipe-info {
  height: 380px;
  overflow-y: scroll;
  text-align: justify;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
}

.lists::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.lists::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.recipe-info::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.recipe-info::-webkit-scrollbar-thumb {
  background-color: #000000;
}
